<style>
  .btn-search{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover {
    background-color: #fe424d;
    color: #fff;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  #search-ip{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings">
        <img class="nav-link" href="/listings" src="https://sdmntprwestus2.oaiusercontent.com/files/00000000-6b10-61f8-9afa-e743cd8bea95/raw?se=2025-09-07T17%3A40%3A04Z&sp=r&sv=2024-08-04&sr=b&scid=2b25dd23-b27d-5df3-a246-d18157b4f0c7&skoid=03727f49-62d3-42ac-8350-1c0e6559d238&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-09-07T11%3A50%3A26Z&ske=2025-09-08T11%3A50%3A26Z&sks=b&skv=2024-08-04&sig=Nud0XKMkIpvDHqhvMxI05pxGN20aR3LdsSnqRGS/zu8%3D" alt="Logo" width="150"/>
      </a>
      <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         
        <!-- <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search Destinations" id="search-ip">
            <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
            </button>
          </form>
        </div> -->

        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
          <% } %> <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>